In [1]:
import pandas as pd

In [2]:
meteoriteLanding = pd.read_csv('../Datasets/Meteorite_Landings.csv')
meteoriteLanding.head(10)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,01/01/1919 12:00:00 AM,32.10000,71.80000,"(32.1, 71.8)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.83333, 95.16667)"
7,Agen,392,Valid,H5,30000.0,Fell,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.21667, 0.61667)"
8,Aguada,398,Valid,L6,1620.0,Fell,01/01/1930 12:00:00 AM,-31.60000,-65.23333,"(-31.6, -65.23333)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,01/01/1920 12:00:00 AM,-30.86667,-64.55000,"(-30.86667, -64.55)"

In [3]:
meteoriteLanding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
name           45716 non-null object
id             45716 non-null int64
nametype       45716 non-null object
recclass       45716 non-null object
mass (g)       45585 non-null float64
fall           45716 non-null object
year           45425 non-null object
reclat         38401 non-null float64
reclong        38401 non-null float64
GeoLocation    38401 non-null object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

# Need to format the data first

In [4]:
# import nltk
NoNa = meteoriteLanding.dropna(axis=0,how='any')
NoNa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38115 entries, 0 to 45715
Data columns (total 10 columns):
name           38115 non-null object
id             38115 non-null int64
nametype       38115 non-null object
recclass       38115 non-null object
mass (g)       38115 non-null float64
fall           38115 non-null object
year           38115 non-null object
reclat         38115 non-null float64
reclong        38115 non-null float64
GeoLocation    38115 non-null object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.2+ MB

### Seperate GeoLocation into X and Y (Lol wasted, i didnt notice reclat and reclong)

In [5]:
# tokenizedGeoLocation= NoNa.apply(lambda row: nltk.word_tokenize(row['GeoLocation']), axis=1)
# X=[]
# Y=[]
# for index in tokenizedGeoLocation:
#    X.append(float(index[1]))
#    Y.append(float(index[3]))
# NoNa['X'] = X
# NoNa['Y'] = Y

### Convert year to timestamp

In [6]:
import datetime

In [7]:
year = NoNa['year']
year

0        01/01/1880 12:00:00 AM
1        01/01/1951 12:00:00 AM
2        01/01/1952 12:00:00 AM
3        01/01/1976 12:00:00 AM
4        01/01/1902 12:00:00 AM
                  ...
45711    01/01/1990 12:00:00 AM
45712    01/01/1999 12:00:00 AM
45713    01/01/1939 12:00:00 AM
45714    01/01/2003 12:00:00 AM
45715    01/01/1976 12:00:00 AM
Name: year, Length: 38115, dtype: object

In [8]:
timestamp=[]
for i in year:
    dateTime = datetime.datetime.strptime(i[:10] + ' 00:00', '%m/%d/%Y %H:%M')
    timestamp.append(dateTime.timestamp())

In [9]:
NoNa['Timestamp'] = timestamp

/home/muhdlaziem/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
NoNa.head(10)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,Timestamp
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)",-2.840165e+09
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)",-5.996430e+08
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)",-5.681070e+08
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)",1.892754e+08
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)",-2.145942e+09
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,01/01/1919 12:00:00 AM,32.10000,71.80000,"(32.1, 71.8)",-1.609484e+09
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,01/01/1949 12:00:00 AM,44.83333,95.16667,"(44.83333, 95.16667)",-6.627150e+08
7,Agen,392,Valid,H5,30000.0,Fell,01/01/1814 12:00:00 AM,44.21667,0.61667,"(44.21667, 0.61667)",-4.922924e+09
8,Aguada,398,Valid,L6,1620.0,Fell,01/01/1930 12:00:00 AM,-31.60000,-65.23333,"(-31.6, -65.23333)",-1.262329e+09
9,Aguila Blanca,417,Valid,L,1440.0,Fell,01/01/1920 12:00:00 AM,-30.86667,-64.55000,"(-30.86667, -64.55)",-1.577948e+09

In [11]:
NoNa['fall'].value_counts()

Found    37050
Fell      1065
Name: fall, dtype: int64

In [12]:
NoNa = NoNa.replace({'Found':1})
NoNa = NoNa.replace({'Fell':0})

In [13]:
NoNa['fall'].value_counts()

1    37050
0     1065
Name: fall, dtype: int64

In [14]:
NoNa['recclass'].value_counts() #what to do with this?

L6               7519
H5               6243
H6               3898
H4               3880
L5               3264
                 ...
Mesosiderite?       1
L/LL~4              1
EH3/4-an            1
EL6/7               1
Iron, IIAB-an       1
Name: recclass, Length: 422, dtype: int64